<div class="h1 mt-4">Hello visitor!</div>
<div class="h2">Welcome to my <strong><em>Thesis</em></strong> application, built with:</div>
<div class="flex flex-col pl-4">
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
      href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> and <a href='https://tailwindcss.com/'>Tailwind CSS</a> for
    layout and styling</li>
  <li><a href='https://hu.wikipedia.org/wiki/WebSocket'>WebSocket</a> for real-time display of game</li>
</div>
<div class="h2">My thesis is a (free) boardgame website, where you can play with your friends, or with random people online:
  (inspired by COVID)</div>
<div class="underline font-bold">Implemented games, available to browse from and play:</div>
<div *ngFor="let game of gamesToPlay">
  <li><strong>{{game.name}}:</strong> {{game.description}}</li>
</div>
<div class="underline font-bold mt-4"> Games planned to add in further versions of the website: (not included in thesis)
</div>
<div *ngFor="let game of gamesToDevelop">
  <li><strong>{{game.name}}:</strong> {{game.description}}</li>
</div>