.table-header {
    opacity: 100;
    border: 1px solid black;
}

hr {
    opacity: 75;
    border: 0.5px solid black;
}

button {
    background-color:burlywood;
    border-radius: 32px;
}

button:hover {
    box-shadow: 2px 4px 16px #888888;
}

.newLobby {
    border: 0.5px groove black;
    box-shadow: 2px 4px 16px #888888;
}

.hoverAction:hover {
    cursor: pointer;
    color:blue;
}