<div class="h2 my-4">Legendary Encounters A PREDATOR Deck Building Game</div>
<div class="flex my-4">
    <div class="flex flex-col mr-8 min-w-max">
        <img class="w-96" src="../../../assets/games-img/predator-preview.jpg">
    </div>
    <div class="flex flex-col relative">
        <div class="text-justify">Legendary Encounters: A Predator Deck Building Game (COOPERATIVE VERSION)
            is based on the first two movies of the Predator series. Taking on the roles of the
            characters from the films, players take turns recruiting cards for their deck from a central
            selection in order to improve their deck and defeat Predator cards that are added to the central
            game board. In more detail, within the setting for each film you can play as the humans.
            As the humans, you play the game by: recruiting, scanning and attacking the while trying to
            achieve objectives, and staying alive.</div>
        <div class="flex">
            <div class="absolute left-0 bottom-6"><strong>Number of players: </strong>1-5</div>
            <div class="absolute right-0 bottom-6"><strong>Average game time: </strong>45 minutes</div>
        </div>
        <div class="flex">
            <div class="font-bold italic absolute left-0 bottom-0">
                <a target="_blank" href="../../../assets/rulebook/predator-rulebook.pdf">Rulebook</a>
            </div>
            <div class="font-bold italic absolute right-0 bottom-0">
                <a routerLink="../gallery">Gallery</a>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="font-bold text-left">Name</th>
            <th class="font-bold text-center">Movie</th>
            <th class="font-bold text-center">Players</th>
            <th class="font-bold text-right">Action</th>
        </tr>
        <tr>
            <td class="hoverAction" (click)="getLobbies()">Refresh list</td>
        </tr>
        <tr class="h-12" *ngFor="let lobby of LobbyList">
            <td class="text-left">{{lobby.name}}</td>
            <td class="text-center">{{lobby.movie}}</td>
            <td class="text-center">{{lobby.playersNum}}/5</td>
            <td class="float-right">
                <button *ngIf="isLoggedIn" type="button" class="mx-4" (click)="DeleteLobby(lobby.id)">Delete</button>
                <button type="button" [disabled]="lobby.playersNum == 5 || lobby.lobbyGame.active" (click)="JoinLobby(lobby.id)">Join
                    lobby</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="isLoggedIn" class="h-64 w-64 flex flex-col newLobby p-4 mb-1">
    <div class="underline my-2">Create new lobby!</div>
    <div>Movie:</div>
    <form [formGroup]="lobbyForm">
        <input class="my-2" type="number" min="1" max="2" class="form-control w-36" formControlName="movie"
            placeholder="movieNum">
        <label class="my-2 text-danger"
            *ngIf="lobbyForm.get('movie')!.touched && lobbyForm.get('movie')!.errors?.['min'] || lobbyForm.get('movie')!.errors?.['max']">Value
            of movie must be either 1 or 2.</label>
        <div class="mt-4">
            <button class="w-36 h-12" type="submit" [disabled]="!lobbyForm.valid"
                (click)="PostLobby(lobbyForm.value)">Create new Lobby</button>
        </div>
    </form>
</div>